.item-container
  position: relative
  padding: 12px 12px
  border-bottom: 1px solid #f8f9fa

.item-text-container
  min-height: 42px
  margin-left: 56px

.item-text-title
  color: #495057
  font-size: 16px
  font-weight: bold
  line-height: 22px

.item-user-avatar
  top: 14px
  left: 12px
  width: 42px
  height: 42px
  position: absolute
  display: inline-block
  border-radius: 0.25rem
